@import "tailwindcss";

@layer base {
    :root {
        /* login page background Gray color */
        --color-gray-100: #F2F2F2;
        
        /* background Navy color */
        --color-navy-100: #303957;
        --color-navy-500: #21273E;
        --color-navy-900: #141B32;

        /* 장비 상태 color */
        --color-equipment-dangers: #FF2F16; /* 빨강 (위험) */
        --color-equipment-check: #FFC525; /* 노랑 (안전점검) */
        --color-equipment-safe: #1CAA00; /* 초록 (안전) */
        --color-equipment-repair: #898989; /* 연한 회색 (수리 중) */
        --color-equipment-offline: #515151; /* 진한 회색 (마이크 미연결) */

    }
}

@layer utilities {
    /* login page background Gray color */
    .bg-gray-100 { background-color: var(--color-gray-100); }

    /* background Navy color */
    .bg-navy-100 { background-color: var(--color-navy-100); }
    .bg-navy-500 { background-color: var(--color-navy-500); }
    .bg-navy-900 { background-color: var(--color-navy-900); }

    /* 장비 상태 color */
    /* text일 때 */
    .text-danger { color: var(--color-equipment-dangers); }
    .text-warning { color: var(--color-equipment-check); }
    .text-safe { color: var(--color-equipment-safe); }
    .text-repair { color: var(--color-equipment-repair); }
    .text-offline { color: var(--color-equipment-offline); }

    /* border일 때 */
    .border-danger { border-color: var(--color-equipment-dangers); }
    .border-warning { border-color: var(--color-equipment-check); }
    .border-safe { border-color: var(--color-equipment-safe); }
    .border-repair { border-color: var(--color-equipment-repair); }
    .border-offline { border-color: var(--color-equipment-offline); }

    /* bg일 때 */
    .bg-danger { background-color: var(--color-equipment-dangers); }
    .bg-warning { background-color: var(--color-equipment-check); }
    .bg-safe { background-color: var(--color-equipment-safe); }
    .bg-repair { background-color: var(--color-equipment-repair); }
    .bg-offline { background-color: var(--color-equipment-offline); }
}