@import "tailwindcss";

@layer base {
    :root {
        /* background 테마 Navy 컬러 */
        --color-navy-100: #303957;
        --color-navy-500: #21273E;
        --color-navy-900: #141B32;

        /* 장비 상태 컬러 */
        --color-equipment-dangers: #FF2F16; /* 빨강 (위험) */
        --color-equipment-check: #FFC525; /* 노랑 (안전점검) */
        --color-equipment-safe: #1CAA00; /* 초록 (안전) */
        --color-equipment-repair: #898989; /* 연한 회색 (수리 중) */
        --color-equipment-offline: #515151; /* 진한 회색 (마이크 미연결) */

    }
}

@layer utilities {
    /* background 테마 Navy 컬러 */
    .bg-navy-100 { background-color: var(--color-navy-100); }
    .bg-navy-500 { background-color: var(--color-navy-500); }
    .bg-navy-900 { background-color: var(--color-navy-900); }

    /* 장비 상태 컬러 */
    /* text일 때 */
    .text-status-red { color: var(--color-equipment-dangers); }
    .text-status-yellow { color: var(--color-equipment-check); }
    .text-status-green { color: var(--color-equipment-safe); }
    .text-status-repair { color: var(--color-equipment-repair); }
    .text-status-offline { color: var(--color-equipment-offline); }

    /* border일 때 */
    .border-status-red { border-color: var(--color-equipment-dangers); }
    .border-status-yellow { border-color: var(--color-equipment-check); }
    .border-status-green { border-color: var(--color-equipment-safe); }
    .border-status-repair { border-color: var(--color-equipment-repair); }
    .border-status-offline { border-color: var(--color-equipment-offline); }

    /* bg일 때 */
    .bg-status-red { background-color: var(--color-equipment-dangers); }
    .bg-status-yellow { background-color: var(--color-equipment-check); }
    .bg-status-green { background-color: var(--color-equipment-safe); }
    .bg-status-repair { background-color: var(--color-equipment-repair); }
    .bg-status-offline { background-color: var(--color-equipment-offline); }
}