@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Nanum+Gothic&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: ["Nanum Gothic", "sans-serif"];     
    --font-nanum: ["Nanum Gothic", "sans-serif"];   
    --font-black: ["Black Han Sans", "sans-serif"];  
    --font-inter: ["Inter", "sans-serif"];           
    --font-jua: ["Jua", "sans-serif"];                
}

@layer base {
    :root {
        --color-gray-100: #F2F2F2;
        --color-gray-300: #808080;
        --color-navy-400: #212E59;
        --color-navy-100: #303957;
        --color-navy-500: #21273E;
        --color-navy-900: #141B32;
        --color-equipment-dangers: #FF2F16; /* 빨강 (위험) */
        --color-equipment-warning: #FFC525; /* 노랑 (점검요망) */
        --color-equipment-normal: #1CAA00; /* 초록 (안전) */
        --color-equipment-repair: #898989; /* 연한 회색 (수리 중) */
        --color-equipment-offline: #515151; /* 진한 회색 (마이크 미연결) */

    }
}

@layer utilities {
    /* Gray color */
    .bg-login-gray { background-color: var(--color-gray-100); }
    .bg-login-navy { background-color: var(--color-navy-400);}
    .text-login-gray { color: var(--color-gray-300); }
    .border-login-gray { color: var(--color-gray-300); }
    .btn-login-gray { background-color: var(--color-equipment-offline); }

    /* Navy color */
    .bg-main-100 { background-color: var(--color-navy-100); }
    .border-main-100 { border-color: var(--color-navy-100); }
    .bg-main-500 { background-color: var(--color-navy-500); }
    .bg-main-900 { background-color: var(--color-navy-900); }

    /* 장비 상태 color */
    /* text일 때 */
    .text-danger { color: var(--color-equipment-dangers); }
    .text-warning { color: var(--color-equipment-warning); }
    .text-normal { color: var(--color-equipment-normal); }
    .text-repair { color: var(--color-equipment-repair); }
    .text-offline { color: var(--color-equipment-offline); }

    /* border일 때 */
    .border-danger { border-color: var(--color-equipment-dangers); }
    .border-warning { border-color: var(--color-equipment-warning); }
    .border-normal { border-color: var(--color-equipment-normal); }
    .border-repair { border-color: var(--color-equipment-repair); }
    .border-offline { border-color: var(--color-equipment-offline); }

    /* bg일 때 */
    .bg-danger { background-color: var(--color-equipment-dangers); }
    .bg-warning { background-color: var(--color-equipment-warning); }
    .bg-normal { background-color: var(--color-equipment-normal); }
    .bg-repair { background-color: var(--color-equipment-repair); }
    .bg-offline { background-color: var(--color-equipment-offline); }
}